body {
  font-family: Arial, Helvetica, sans-serif;
}

.bg {
  max-width: 500px;
  margin: 0 auto;
}

.container {
  width: 100%;
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
svg {
  height: 220px;
  width: 220px;
  stroke-width: 10px;
  display: inline-block;
}

.stroke {
  transform: rotate(-90deg);
  transform-origin: center center;
  stroke: burlywood;
  fill: #5b615b;
  stroke-linecap: round;
  stroke-dasharray: 628;
  stroke-dashoffset: 0;
}

.count-down {
  position: relative;
  left: -90px;
  user-select: none;
  color: white;
}

.digits-overlay {
  top: 43px;
  left: 43px;
  font-size: 120px;
  color: white;
  position: absolute;
}

.auto_start {
  top: 18px;
  left: 74px;
  font-size: 18px;
  position: absolute;
}

.inputCD {
  font-size: 16px;
  color: black;
  top: 10px;
  left: 270px;
  width: 120px;
  position: absolute;
}

#countDown_btn {
  font-size: 20px;
  width: 70px;
  color: white;
  padding: 3px 7px;
  background-color: rgb(133, 132, 136);
  border: 2px solid #5b615b;
  border-radius: 5px;
}

.start_btn {
  width: 125px;
  height: 43px;
  top: 100px;
  left: 270px;
  font-size: 25px;
  text-align: center;
  color: white;
  position: absolute;
  cursor: pointer;
  background-color: rgb(133, 132, 136);
  border: 2px solid #5b615b;
  border-radius: 5px;
}

.start_btn:hover {
  background-color: rgb(111, 110, 112);
  border: 2px solid #444644;
}
